/* @import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap");
/*==========================================*/
/* Reset */
/*==========================================*/

html {
  height: 100%;
  /* Mobile */
  font-size: 15vw;
}
body {
  height: 100%;
  width: 100%;
  font-size: 0.18rem;
  font-family: "Martel Sans", sans-serif;
  color: #0d0d0d;
  --title-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --dark-bg-color: #292929;
}

/* Desktop */
@media screen and (min-width: 640px) {
  html {
    font-size: 5.2vw;
  }
}
a:hover {
  cursor: pointer;
}

/* Custom class */

.-m-0\.2 {
  margin: 0 -0.05rem;
}
.p-0\.2 {
  padding: 0 0.05rem 0.1rem 0.05rem;
}
.pw-10 {
  padding: 5px;
}
.bg-dark {
  background-color: var(--dark-bg-color);
}
.bg-primary {
  background-color: var(--primary-bg-color);
  color: var(--dark-bg-color);
}
.bg-secondary {
  background-color: var(--secondary-bg-color);
  color: var(--dark-bg-color);
}
.py-0\.48 {
  padding-top: 0.48rem;
  padding-bottom: 0.48rem;
}
.ar-1 {
  aspect-ratio: 0.758;
}
.ar-2 {
  aspect-ratio: 1.58;
}
.ar-3 {
  aspect-ratio: 0.6;
}

/* Font-size */
.text-ssm {
  font-size: 0.18rem;
}
.text-md {
  /* 16px */
  font-size: 0.23rem;
}
.title-xxs {
  font-size: 0.2rem;
}
.title-xs {
  font-size: 0.25rem;
}
.title-sm {
  /* 25px */
  font-size: 0.3rem;
}
.title-md {
  font-size: 0.42rem;
}
.title-lg {
  font-size: 0.46rem;
}
.title-xl {
  font-size: 0.6rem;
}
.title-2xl {
  font-size: 1rem;
}

.container {
  max-width: 1024px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin: 0 auto;
}
.line {
  display: inline-block;
  /* margin-right: 0.05rem; */
  vertical-align: middle;
  height: 1px;
  /* width: 40px; */
  background-color: currentColor;
}

/* Button */
.primary-button,
.primary-button-long,
.primary-button-long-dark {
  display: inline-block;
  font-size: 0.18rem;
  border: 1px solid currentColor;
  text-transform: uppercase;
}
.primary-button {
  padding: 0.16rem 0.2rem;
}
.primary-button-long,
.primary-button-long-dark {
  padding: 0.16rem 0.4rem;
}
.primary-button-long-dark {
  background-color: black;
  color: var(--title-color);
}

/* Background border effect class */
.bg-border-wrapper-top::before,
.bg-border-wrapper::before,
.bg-border-wrapper::after {
  content: "";
  left: 0;
  right: 0;
  height: 50px;
  background-position: center center;
  background-size: cover;
  position: absolute;
}
.bg-border-wrapper-top::before,
.bg-border-wrapper::before {
  top: -10px;
}
.bg-border-wrapper::after {
  bottom: -10px;
  transform: rotate(180deg);
}
.bg-border-wrapper::before,
.bg-border-wrapper::after {
  background-image: url("../imgs/bg-border.svg");
}
.bg-border-wrapper.grey {
  background-color: var(--secondary-bg-color);
}
.bg-border-wrapper.grey::before,
.bg-border-wrapper.grey::after {
  background-image: url("../imgs/bg-border-grey.svg");
}
.bg-border-wrapper-top.dark,
.bg-border-wrapper.dark {
  background-color: var(--dark-bg-color);
}
.bg-border-wrapper-top.dark::before,
.bg-border-wrapper.dark::before,
.bg-border-wrapper.dark::after {
  background-image: url("../imgs/bg-border-dark.svg");
}
.bg-border-wrapper {
  position: relative;
}
/*==========================================*/
/* Home-Header */
/*==========================================*/

@media screen and (min-width: 640px) {
  header {
    min-width: 900px;
  }
}
header {
  color: var(--title-color);
}

header nav ul li {
  padding-left: 0.7rem;
}
header nav ul li a {
  display: inline-block;
  line-height: 0.4rem;
  opacity: 0.8;
}

/* Home-Header-Mobile */
header .mobile path {
  fill: var(--title-color);
}

header .mobile > div {
  border-left: 2px solid;
  width: 160px;
}
header .mobile li {
  margin-top: 0.16rem;
  padding-left: 0.5rem;
}
header .mobile ul li:last-child {
  padding-top: 0.1rem;
}

/*==========================================*/
/* Hero Part */
/*==========================================*/

.hero {
  color: var(--title-color);
  background-image: url("../imgs/background-1.jpg");
}

.hero .sub-title {
  font-size: 0.6rem;
}
.hero div .absolute {
  top: 40%;
  transform: translate(0, -50%);
}

.hero .check-menu {
  margin-top: 0.47rem;
}
.hero .line {
  width: 40px;
}

/*==========================================*/
/* About Us Page */
/*==========================================*/

.about .container > div {
  top: -0.8rem;
}
.about .card-wrapper {
  margin-right: -0.2rem;
  overflow: hidden;
}

.about .card {
  margin-right: 0.2rem;
  border-radius: 0.5rem 0.5rem 0px 0px;
}
.about .card > div {
  padding: 0.6rem 0.4rem;
}

@media screen and (max-width: 640px) {
  .about .card {
    border-radius: 0.5rem;
    margin-top: 0.4rem;
  }
  .about .relative {
    top: 0.2rem;
  }
}

.about h5,
.about p {
  margin-top: 0.3rem;
}

.about .img-wrapper {
  height: 43px;
  line-height: 43px;
}

/* About-Story */
.container-inner {
  padding: 1.2rem 0;
}

@media screen and (min-width: 640px) {
  .container-inner .half-part {
    width: 58%;
    aspect-ratio: 0.98;
  }
}

/*==========================================*/
/* Menu Part */
/*==========================================*/

/* Menu Bar */
.menu-bar {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  margin: 0.63rem 1.95rem;
}
.menu-bar-item {
  padding: 0.35rem 0.45rem;
}
.menu-bar-item:first-child {
  border-radius: 0.2rem 0 0 0.2rem;
}
.menu-bar-item svg {
  margin: 0 auto;
  height: 0.53rem;
}
@media screen and (max-width: 640px) {
  .menu-bar {
    margin: 0.2rem;
  }
  .menu-bar-item {
    padding: 0.15rem 0.19rem;
  }
  .menu-bar-item svg {
    height: 0.3rem;
  }
}

.menu-bar-item svg path {
  stroke: black;
}
.menu-bar-item.active {
  background-color: black;
  color: var(--primary-bg-color);
}
.menu-bar-item.active path {
  fill: currentColor;
}

.menu-items-wrapper {
  margin: 0 -0.1rem;
}
.menu-items-wrapper .menu-item {
  margin-top: 0.75rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.menu-items-wrapper .menu-item .img-wrapper {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
}

.menu-items-wrapper .menu-item h5 {
  margin: 0.3rem 0 0.2rem 0;
}
.menu-items-wrapper .menu-item button {
  margin-top: 0.3rem;
}
.menu-items-wrapper .menu-item .price-wrapper {
  top: -0.22rem;
  right: -0.56rem;
  width: 0.46rem;
  height: 0.46rem;
  line-height: 0.48rem;
  color: var(--title-color);
}

/*==========================================*/
/*Set Menu Part */
/*==========================================*/

.set-menu .bg-container {
  background-color: var(--secondary-bg-color);
  background-image: url("../imgs/background-3.png");
}

.set-menu .line {
  color: var(--dark-bg-color);
  opacity: 0.2;
}

/*==========================================*/
/*Customers Part */
/*==========================================*/
.customers {
  color: var(--primary-bg-color);
  z-index: -1;
}

.customers .line {
  width: 0.3rem;
}
/*==========================================*/
/*Recipes Part */
/*==========================================*/

.recipes-wrapper {
  margin: 0.63rem 0.95rem;
}

/*==========================================*/
/*Carousel */
/*==========================================*/
.carousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap; /* important */
  cursor: pointer;
}
.carousel-container .carousel-wrapper {
  height: 100%;
  transform: translateX(-100%);
  font-size: 0;
}
.carousel-container .carousel-wrapper .slide {
  display: inline-block;
}
.carousel-container .pagination {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-container .pagination span {
  display: inline-block;
  margin: 0 0.03rem;
  width: 0.1rem;
  height: 0.1rem;
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.8s linear;
}

.carousel-container .pagination span.selected {
  background-color: white;
}
.carousel-container {
  position: relative;
}
.carousel-container .control-btn:hover {
  background-color: rgba(255, 255, 255, 0.774);
}
.carousel-container .control-btn-left {
  left: 0;
}
.carousel-container .control-btn-right {
  right: 0;
}
.carousel-container .control-btn svg {
  width: 100%;
  height: 100%;
  fill: white;
}

/*==========================================*/
/*Chefs Part */
/*==========================================*/

.ic-f svg {
  width: 0.1rem;
}
.ic-t svg,
.ic-i svg {
  width: 0.12rem;
}
.ic {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s linear;
}
.ic svg {
  display: inline-block;
  vertical-align: middle;
}
.chefs .ic:hover {
  background-color: var(--primary-bg-color);
  color: var(--dark-bg-color);
}
.chefs .chef-detail {
  transition: 0.6s;
}

.chefs .chef-detail,
.chefs .chef-wrapper {
  border-radius: 0px 0px 0.2rem 0.2rem;
}
.chefs .chef-detail .social-account {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s linear, border 0.2s linear;
}

.chefs .chef-detail:hover {
  background-color: var(--dark-bg-color);
  color: var(--primary-bg-color);
}
.chefs .chef-detail:hover .social-account {
  border-top: 1px solid currentColor;
  max-height: 100px;
  transition: max-height 0.6s linear, border 0.2s linear;
}

/*==========================================*/
/*Infos Part */
/*==========================================*/
.infos {
  color: var(--primary-bg-color);
}
.infos img {
  height: 0.7rem;
}

/*==========================================*/
/*Contact Part */
/*==========================================*/
.contact form fieldset input {
  padding: 0.12rem;
}
.contact form fieldset input:focus,
.contact form fieldset textarea:focus {
  outline: none;
}

.contact form fieldset label {
  line-height: 2;
}

/*==========================================*/
/*Blog Part */
/*==========================================*/
.icon-wrapper {
  line-height: 0.2rem;
  font-size: 0.18rem;
}
.icon {
  display: inline-block;
  margin-right: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  vertical-align: 0.02rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon.clock {
  background-image: url(../imgs/blogs/clock.svg);
}
.icon::before {
  content: "\3000";
}

.blogs img {
  aspect-ratio: 1.19;
}

.blogs .article-wrapper {
  padding: 0.3rem;
}

.blogs .article-wrapper .article-title {
  margin: 0.08rem 0;
}

/*==========================================*/
/*Footer Part */
/*==========================================*/
footer {
  color: #a4a4a4;
}
footer button {
  color: var(--dark-bg-color);
}
footer h5,
footer h3,
footer .social-account {
  color: var(--title-color);
}

footer .title-wrapper {
  line-height: 0.96rem;
}
footer .social-account .ic {
  margin-right: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 50%;
  text-align: center;
}

footer .social-account .ic-f {
  background-color: #3b5999;
}
footer .social-account .ic-t {
  background-color: #55acee;
}

footer .social-account .ic-i {
  background-color: #e4405f;
}

footer .icon.clock {
  background-image: url(../imgs/clock-grey.svg);
}
footer .line {
  display: inline-block;
}
.icon.phone {
  background-image: url(../imgs/icon-phone.svg);
}
.icon.location {
  height: 0.3rem;
  vertical-align: -0.06rem;
}
.icon.location {
  background-image: url(../imgs/icon-location.svg);
}
.icon.mail {
  background-image: url(../imgs/icon-mail.svg);
}

footer hr {
  border-color: currentColor;
}

footer .newsletter {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
}
